/* Package Listing Styles */

.body {
    padding-top: 120px;
}

.package-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.package-box {
    width: 100%;
    max-width: 350px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.package-box:hover {
    transform: scale(1.02);
}

.package-box h4 h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.package-box p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
    text-align: justify;
}

.package-box .price {
    font-weight: bold;
    color: #e67e22;
}

.package-box img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .package-box {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .package-box {
        width: 30%;
    }
}

.btn_book {
    background-color: cornflowerblue;
    border-radius: 30px;
    color: white;
    display: flex;
    height: 40px;
    width: 100px;
    text-align: center;
    text-indent: 10px;
    margin: auto;
    vertical-align: middle;
}

.btn_book:hover {
    background-color: dodgerblue;
    color: white;
}