{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/admin_styles.css' %}">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'admin_approve_agencies' %}">Approve Agencies</a></li>
                <li><a href="{% url 'admin_manage_packages' %}">Manage Packages</a></li>
                <li><a href="{% url 'admin_manage_groups' %}">Manage Groups</a></li>
                <li><a href="{% url 'admin_manage_groups' %}">Manage Users</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
{% else %}
<html>
    <a href="{% url 'login' %}">Login to use </a>
{% endif %}
