{% extends 'layout_main.html' %}

{% block content %}
<style>
    .body {
        padding-top:120px;
    }
</style>
<div class="container">
    <div class="body">
    <h2>Book Package</h2>

    <h3>Package Details</h3>
    <p><strong>Package Name:</strong> {{ package.title }}</p>
    <p><strong>Description:</strong> {{ package.description }}</p>
    <p><strong>Price:</strong> ₹{{ package.discounted_price|floatformat:2 }}</p>
    <p><strong>Note: Cancellation is only possible if the agency has agreed and the cancellation should be made 7 days prior to the trip date</strong></p>
    
    <h3>Your Details</h3>
    <form method="POST" action="{% url 'book_package' package.package_id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user.first_name }}" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label for="number_of_people">Number of People:</label>
            <input type="number" id="number_of_people" name="number_of_people" value="{{ request.GET.number_of_people }}" min="1" class="form-control" />
        </div>
        <div class="form-group">
            <label for="date_of_travel">Date of Travel:</label>
            <input type="date" id="date_of_travel" name="date_of_travel" value="{{ request.GET.date_of_travel }}" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="number" id="phone_number" name="phone_number" class="form-control" value="{{ user.phone_number }}" required />
        </div>
        <button type="submit" class="btn btn-primary">Confirm Booking</button>
    </form>
</div>
</div>
<script>
    const today = new Date();
    const oneWeekLater = new Date(today);
    oneWeekLater.setDate(today.getDate() + 7);
    
    // Format the date as YYYY-MM-DD
    const formattedDate = oneWeekLater.toISOString().split('T')[0];
    document.getElementById('date_of_travel').setAttribute('min', formattedDate);
</script>
{% endblock %}