{% extends 'layout_main.html' %}  

{% block content %}
<style>
.chat-container {
    width: 80%;
    margin: 0 auto; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    margin-top: 120px;
}

.chat-header {
    background-color: #ff6666;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
}

.back-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white; /* Ensure the arrow color contrasts with the header */
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #f0f0f0; /* Slight hover effect to enhance interactivity */
}

.chat-log {
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    max-height: 400px;
    scroll-behavior: smooth;
}

.chat-log::after {
    content: '';
    clear: both;
    display: table;
}

@media (max-width: 768px) {
    .chat-log {
        max-height: calc(100vh - 250px); 
    }
}

.chat-message {
    margin-bottom: 15px; 
    padding: 12px; 
    border-radius: 10px; 
    background-color: #f0f4f8; 
    border: 1px solid #ddd; 
}

.message-received {
    float: left;
    background-color: #f0f4f8;
    border-radius: 15px 15px 15px 0;
    padding: 12px;
    margin-right: auto;
}

.message-sent {
    float: right;
    background-color: #ff6666;
    color: white;
    border-radius: 15px 15px 0 15px;
    padding: 12px;
    margin-left: auto;
}

.message-time {
    display: block; 
    font-size: 0.85em; 
    color: #999; 
}

.message-sent .message-time {
    color: #f0f0f0;
}

.chat-input-container {
    display: flex; 
    padding: 10px; 
    background-color: #ffffff; 
    border-top: 1px solid #ddd; 
}

.chat-input {
    flex: 1; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 12px; 
    margin-right: 10px; 
    font-size: 1rem; 
}

.chat-send-btn {
    background-color: #ff6666; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 15px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 1rem; 
}

.chat-send-btn:hover {
    background-color: #e65c5c; 
}
</style>

<div class="chat-container">
    <h2 class="chat-header"><a href="{% url 'group_details' group.group_id %}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>{{ group.name }}</h2>
    <div id="chat-log" class="chat-log">
        {% for message in messages %}
            <div class="chat-message {% if message.user.username == request.user.username %}message-sent{% else %}message-received{% endif %}">
                <strong>{{ message.user.username }}:</strong>
                <span>{{ message.content }}</span>
                <small class="message-time">{{ message.send_at }}</small>
            </div>
        {% endfor %}
    </div>

    <div class="chat-input-container">
        <textarea id="message-input" name="content" placeholder="Type your message here..." class="chat-input"></textarea>
        <button id="send-message-btn" class="chat-send-btn"><span class="sf-main sf-icon-send"></span>Send</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    const groupId = "{{ group.group_id }}";
    let lastMessageId = "{{ last_message_id|default:0 }}";

    if (lastMessageId === "undefined" || lastMessageId === "") {
        lastMessageId = 0; 
    }

    function scrollToBottom() {
        const chatLog = document.getElementById("chat-log");
        chatLog.scrollTop = chatLog.scrollHeight;
    }
    document.addEventListener('DOMContentLoaded', function() {
        scrollToBottom();
    });
    
    function fetchNewMessages() {
        $.ajax({
            url: `/get_new_messages/${groupId}/${lastMessageId}/`,
            method: "GET",
            success: function(data) {
                const chatLog = document.getElementById("chat-log");
                const currentUsername = "{{ request.user.username }}";
                if (data.messages.length > 0) {
                    data.messages.forEach(function(message) {
                        const isOwnMessage = message.user === currentUsername;
                        const messageElement = `<div class="chat-message ${isOwnMessage ? 'message-sent' : 'message-received'}">
                            <strong>${message.user}:</strong> 
                            <span>${message.content}</span>
                            <small class="message-time">${message.send_at}</small>
                        </div>`;
                        chatLog.innerHTML += messageElement;
                    });
                    lastMessageId = data.messages[data.messages.length - 1].id;
                    scrollToBottom();
                }
            },
            error: function() {
                console.error('Error fetching new messages');
            }
        });
    }

    setInterval(fetchNewMessages, 2000);

    $('#send-message-btn').on('click', function() {
        const messageInput = $('#message-input').val();
        if (messageInput.trim() !== "") {
            const chatLog = document.getElementById("chat-log");
            const currentUsername = "{{ request.user.username }}";
            
            $.ajax({
                url: `/send_message/${groupId}/`,
                method: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'content': messageInput,
                },
                success: function(response) {
                    if (response.success) {
                        const messageElement = `<div class="chat-message message-sent">
                            <strong>${response.username}:</strong> 
                            <span>${messageInput}</span>
                            <small class="message-time">${response.send_at}</small>
                        </div>`;
                        chatLog.innerHTML += messageElement;
                        $('#message-input').val('');
                        scrollToBottom();
                        lastMessageId = response.message_id;
                    }
                },
                error: function() {
                    console.error('Error sending message');
                }
            });
        }
    });
    
    
</script>
{% endblock %}
