{% load static %}
{% for event in events %}
    <div class="event-box">
        <div class="badge-container">
            {% if event.total_bookings > 10 %}
                <span class="badge booked-badge">Most Booked</span>
            {% endif %}
            {% if event.views > 10 %}
                <span class="badge viewed-badge">Most Viewed</span>
            {% endif %}
        </div>
        
        <div class="slider-container">
            {% for image in event.event_images.all %}
                <div class="slide">
                    <img src="{{ image.image.url }}" alt="{{ event.title }}">
                </div>
            {% empty %}
                <div class="slide">
                    <img src="{% static 'assets/images/default_image.jpg' %}" alt="Default Image">
                </div>
            {% endfor %}
        </div>

        <h4>{{ event.title }}</h4>
        <p>{{ event.description|truncatechars:100 }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Date:</strong> {{ event.event_date }}</p>
        <p><strong>Time:</strong> {{ event.event_time }}</p>
        <a href="{% url 'event_detail' event.event_id %}" class='btn_book'>View Details</a>
    </div>
{% empty %}
    <p>No events found.</p>
{% endfor %}
