{% extends 'guide.html' %}
{% block content %}
    <main>
        <section class="features">
            <div class="container">
                <div class="feature-card">
                    <h2>Provide Travel Advice</h2>
                    <p>Offer personalized travel advice and recommend the best spots in your locality.</p>
                    <a href="{% url 'advice_requests' %}" class="btn">Start Advising</a>
                </div>
                <br>
                <div class="feature-card">
                    <h2>Guide Bookings</h2>
                    <p>Allow travelers to book your services as a local guide and help them explore your area.</p>
                    <a href="{% url 'local_guide_bookings' %}" class="btn">Manage Your Bookings</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
