{% extends 'layout_main.html' %}
{% load static %}
{% block content %}
<header id="home" class="header">
    <div class="overlay"></div>
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <!-- First Slide -->
            <div class="carousel-item active">
                <div class="carousel-caption d-md-block">
                    <h1 class="carousel-title typing-animation">Pack Your Bags – <br>Adventure is Just a Click Away!</h1>
                    <button class="book-package">
                        <a href="{% url 'package' %}" class="package-book">
                            Book your package now 
                        </a>
                    </button>
                </div>
            </div>

            <!-- Second Slide for Group Feature -->
            <div class="carousel-item">
                <div class="carousel-caption d-md-block">
                    <h1 class="carousel-title typing-animation">Join or Create –<br> Your Own Travel Group</h1>
                    <button class="book-package">
                        <a href="{% url 'create_group' %}" class="package-book">
                            Create a Group Now
                        </a>
                    </button>
                    {% if 'normal' in request.session %}
                    <button class="book-package">
                        <a href="{% url 'available_group' %}" class="package-book">
                            Join a Group
                        </a>
                    </button>
                    {% else %}
                    <button class="book-package">
                        <a href="{% url 'groups' %}" class="package-book">
                            Join a Group
                        </a>
                    </button>
                    {% endif %}
                </div>
            </div>

            <div class="carousel-item">
                <div class="carousel-caption d-md-block">
                    <h1 class="carousel-title typing-animation">Discover Experts –<br> Plan Your Perfect Adventure</h1>
                    <button class="book-package">
                        <a href="{% url 'local_guide_list' %}" class="package-book">
                            Book your guide
                        </a>
                    </button>
                </div>
            </div>
            
        </div>

        <!-- Add Carousel Controls -->
        <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

    
<section class="section" id="portfolio">
    <div class="container">
        <h3 class="section-title mb-4">What We Offer</h3>
        <div class="card-body">
            <p class="md-font"><strong>Curated Travel Packages:</strong> Expertly crafted by local specialists to provide authentic, immersive experiences tailored to your travel needs. Explore unique destinations and discover hidden gems beyond the ordinary.</p>
            <p class="md-font"><strong>Community Travel Groups:</strong> Connect with like-minded travelers by joining or creating groups based on shared interests. Experience the world with fellow adventurers who share your passions.</p>
            <p class="md-font"><strong>Seamless Booking Experience:</strong> Our user-friendly platform streamlines the booking process, offering everything you need in one place for hassle-free trip planning.</p>
            <p class="md-font"><strong>Local Guides:</strong> Unlock the secrets of each destination with knowledgeable local guides. Discover off-the-beaten-path locations and gain a deeper understanding of local cultures.</p>
            <p class="md-font"><strong>Exclusive Events:</strong> Participate in unique events organized by our partners and community members. From local festivals to tailored experiences, make every trip unforgettable with exclusive opportunities.</p>
        </div>    
    </div>
</section>

    

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="our-vision">
                    <h3 class="section-title mb-4">Our Vision</h3>
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <span class="card-body">
                            <p class="md-font">
                                At Explore Hub, we believe that travel is more than just a journey — it’s an opportunity to broaden horizons, create meaningful connections, and inspire personal growth. Our vision is to curate exceptional travel experiences that cater to the unique interests and passions of every explorer. 
                            </p>
                            <p class="md-font">
                                We are committed to transforming the way people travel by offering seamless, customized itineraries and building a vibrant community where travelers can share knowledge, stories, and recommendations. Explore Hub is dedicated to helping you discover the world, one memorable journey at a time.
                            </p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'assets/imgs/hiking.jpg' %}" alt="Our Vision" height="300px" width="100%" class="ourvision-img">
            </div>
        </div>
    </div>
</section>

<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-us">
                    <h3 class="section-title mb-4">About Us</h3>
                    <p class="md-font">
                        At Explore Hub, we are dedicated to creating exceptional travel experiences that resonate with every type of traveler. Whether you're in search of serene escapes or heart-pounding adventures, we provide a platform that connects you with handpicked travel packages, meticulously crafted to meet diverse interests and preferences.
                    </p>
                    <p class="md-font">
                        Our mission is to not only offer unique journeys but to foster a global community of explorers. By bringing together like-minded individuals, we enable you to share experiences, forge new connections, and embark on unforgettable adventures. Explore Hub is here to make your travel dreams a reality, with ease and confidence.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{% static "assets/imgs/img-9.jpg" %} " height="300px" width="500px" class="aboutus-img">
            </div>
        </div>
    </div>
</section>

    
    <section id="contact" class="section pb-0">
        <div class="container">
            <h3 class="section-title mb-5">Contact Us</h3>
            <div class="row align-items-center justify-content-between">
                {% comment %} <div class="col-md-8 col-lg-7">
                    <form class="contact-form">
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Your Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Send Message">
                        </div>
                    </form>
                </div> {% endcomment %}
                <div class="col-md-4 d-none d-md-block order-1">
                    <ul class="list">
                        <li class="list-head">
                            <h6>CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <p class="py-2">Contact us</p>
                            <p class="py-2"><i class="ti-email"></i>  explorehub123@gmail.com</p>
                            <p class="py-2"><i class="ti-microphone"></i> (123) 456-7890</p>
                        </li>
                    </ul> 
                </div>
            </div>

            <footer class="footer mt-5 border-top">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center text-md-right">
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div>
                    </div>
                </div> 
            </footer>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            var images = [
                '{% static "assets/imgs/package.jpg" %}',
                '{% static "assets/imgs/hiking.jpg" %}',
                '{% static "assets/imgs/guide_img.jpg" %}',
            ];
            var currentIndex = 0;
    
            function changeBackgroundImage() {
                $('.header').css({
                    'background-image': 'url(' + images[currentIndex] + ')',
                    'transition': 'background-image 1s ease-in-out'
                });
                $('.carousel-item').removeClass('active');
            $('.carousel-item').eq(currentIndex).addClass('active');
                currentIndex = (currentIndex + 1) % images.length;
            }
    
            // Change image every 5 seconds
            setInterval(changeBackgroundImage, 5000);
    
            // Set initial background image
            changeBackgroundImage();
        });
    </script>
	

{% endblock %}
