{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Explore Hub</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    
    <!-- Font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    
    <!-- Owl Carousel (if needed) -->
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.theme.default.css' %}">

    <!-- Bootstrap + Ollie main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/ollie.css' %}">
    
    <!-- Slick Carousel CSS from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'assets/imgs/logo.png' %}" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link-md" href="{% url 'regularuser' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-md" href="{% url 'package' %}">Packages</a>
                    </li>
                    {% if not 'normal' in request.session %}
                    <li class="nav-item">
                        <a class="nav-link-md" href="{% url 'groups' %}">Travel Group</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        {% comment %} <li class="dropdown"> {% endcomment %}
                            <a href="{% url 'available_group' %}" class="nav-link-md">Travel Group</a>
                            {% comment %} <div class="dropdown-content">
                                <a href="{% url 'user_group' %}">Your Groups</a>
                                <a href="{% url 'available_group' %}">Available Groups</a>
                            </div> {% endcomment %}
                        {% comment %} </li> {% endcomment %}
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link-md" href="#guide">Local Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-md" href="#events">Events</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item ml-5">
                        <li class="dropdown">
                            <a class="dropbtn" href="{% url 'update_profile' %}">&#128100;{{ user.first_name }}<span style="font-size: 10px;">&#9660;</span></a>
                            <div class="dropdown-content">
                                <a href="{% url 'user_group' %}">My groups</a>
                                <a href="{% url 'my_bookings' %}">My Bookings</a>
                                <a href="{% url 'update_profile' %}">Update Profile</a>
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    </li>
                    {% comment %} <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link-lg btn btn-primary" href="{% url 'logout' %}">Logout</a>
                    </li> {% endcomment %}
                    {% else %}
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link-lg btn btn-primary" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link-lg btn btn-primary" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        window.addEventListener("pageshow", function(event) {
            if (event.persisted || window.performance && window.performance.navigation.type === 2) {
                window.location.reload();
            }
        });
    </script>

    <!-- Core JS files -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- Owl Carousel (if needed) -->
    <script src="{% static 'assets/vendors/owl-carousel/js/owl.carousel.js' %}"></script>

    <!-- Slick Carousel JS from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- Slick Carousel Initialization -->
    <script>
        $(document).ready(function(){
            $('.your-class').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>

    <!-- Ollie JS -->
    <script src="{% static 'assets/js/Ollie.js' %}"></script>
</body>
</html>
