{% extends 'layout_main.html' %}
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/package_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="{% static "assets/vendors/jquery/jquery-3.4.1.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<div class="body">
    <div class="search-container">
        <form class="search-form">
            <input type="text" id="search-bar" placeholder="Search" aria-label="Search Packages">
            
        </form>
    </div>
    
    <div class="package-list" id="package-list">
        {% for package in packages %}
            <div class="package-box">
                <div class="slider-container">
                    {% for image in package.package_images.all %}
                        <div class="slide">
                            <img src="{{ image.image.url }}" alt="{{ package.title }}">
                        </div>
                    {% empty %}
                        <div class="slide">
                            <img src="{% static 'assets/images/default_image.jpg' %}" alt="Default Image">
                        </div>
                    {% endfor %}
                </div>
                <h4>{{ package.title }}</h4>
                <p>{{ package.description|truncatechars:100 }}</p>
                <div class="price-info">
                    {% if package.discount_percentage %}
                        <p class="original-price">Price: <span class="strikethrough">{{ package.price }}</span></p>
                        <p class="discounted-price">Discounted Price: {{ package.discounted_price|floatformat:2 }}</p>
                        <span class="discount-badge">You Save: {{ package.you_save|floatformat:2 }}</span><br>
                    {% else %}
                        <p class="price">Price: {{ package.price }}</p>
                    {% endif %}
                </div>
                <p>No. of Days: {{ package.duration }}</p>
                <p>Origin: {{ package.origin }}</p>
                <p>Destination: {{ package.destination }}</p>
                <p class="charges">Cancellation: {{ package.cancellation|yesno:"Yes,No" }}</p>
                <a href="{% url 'package_detail' package.package_id %}" class='btn_book'>View Details</a>
            </div>
        {% empty %}
            <p>No packages available at the moment.</p>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.slider-container').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            adaptiveHeight: true,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
        });

        $('#search-bar').on('keyup', function() {
            const query = $(this).val();

            $.ajax({
                url: "{% url 'package_search' %}", 
                data: { 'query': query },
                success: function(data) {
                    $('#package-list').html(data);
                }
            });
        });
    });
</script>

<style>
    
</style>

{% endblock %}
