{% load static %}
{% for package in packages %}
    <div class="package-box">
        <div class="slider-container">
            {% for image in package.package_images.all %}
                <div class="slide">
                    <img src="{{ image.image.url }}" alt="{{ package.title }}">
                </div>
            {% empty %}
                <div class="slide">
                    <img src="{% static 'assets/images/default_image.jpg' %}" alt="Default Image">
                </div>
            {% endfor %}
        </div>
        <h4>{{ package.title }}</h4>
        <p>{{ package.description }}</p>
        <div class="price-info">
            {% if package.discount_percentage %}
                <p class="original-price">Price: <span class="strikethrough">{{ package.price }}</span></p>
                <p class="discounted-price">Discounted Price: {{ package.discounted_price|floatformat:2 }}</p>
                <span class="discount-badge">You Save: {{ package.you_save|floatformat:2 }}</span><br>
            {% else %}
                <p class="price">Price: {{ package.price }}</p>
            {% endif %}
        </div>
        <p>No. of Days: {{ package.duration }}</p>
        <p>Origin: {{ package.origin }}</p>
        <p>Destination: {{ package.destination }}</p>
        <p class="charges">Cancellation: {{ package.cancellation|yesno:"Yes,No" }}</p>
        <a href="{% url 'package_detail' package.package_id %}" class='btn_book'>View Details</a>
    </div>
{% empty %}
    <p>No packages available at the moment.</p>
{% endfor %}
