{% extends 'layout_main.html' %}
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/package_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="{% static "assets/vendors/jquery/jquery-3.4.1.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<div class="body">
    <h3>Available Packages</h3>
    <div class="package-list">
        {% for package in packages %}
            <div class="package-box">
                <div class="slider-container">
                    {% for image in package.package_images.all %}
                        <div class="slide">
                            <img src="{{ image.image.url }}" alt="{{ package.title }}">
                        </div>
                    {% empty %}
                        <div class="slide">
                            <img src="{% static 'assets/images/default_image.jpg' %}" alt="Default Image">
                        </div>
                    {% endfor %}
                </div>
                <h4>{{ package.title }}</h4>
                <p>{{ package.description }}</p>
                <p class="price">Price: {{ package.price }}</p>
                <p>No. of Days: {{ package.number_of_days }}</p>
                <p>Origin: {{ package.origin }}</p>
                <p>Destination: {{ package.destination }}</p>
                <p>Departure Day: {{ package.departure_day }}</p>
                <p class="charges">Includes Charges: {{ package.include_charges|yesno:"Yes,No" }}</p>
                <a href="{% url 'package_detail' package.package_id %}" class='btn_book'>View Details</a>
            </div>
        {% empty %}
            <p>No packages available at the moment.</p>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.slider-container').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            adaptiveHeight: true,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
        });
    });
</script>
{% endblock %}
