{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <title>Travel Agency Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/agency_dashboard.css' %}">
</head>
<body>
    <header class="header">
        <div class="container_main">
            <h2>Explore Hub</h2>
            <nav>
                <ul>
                    <li><a href="{% url 'tahome' %}">Manage Packages</a></li>
                    <li><a href="{% url 'ta_profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>