{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <title>Travel Agency Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/agency_dashboard.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="header">
        <div class="container_main">
            <h2>Explore Hub</h2>
            <nav>
                <ul>
                    <li><a href="{% url 'tahome' %}">Home</a></li>
                    <li><a href="{% url 'ta_bookings' %}">Bookings</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Manage Packages</a>
                        <div class="dropdown-content">
                            <a href="{% url 'ta_manage_packages' %}">Active Packages</a>
                            <a href="{% url 'manage_archived_packages' %}">Archived Packages</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">
                            <i class="fa-regular fa-user"></i>
                            {{ request.user.first_name }} &#9662;</a></i>
                        <div class="dropdown-content">
                            <a href="{% url 'ta_profile' %}">Profile</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <script>
        window.addEventListener("pageshow", function(event) {
            if (event.persisted || window.performance && window.performance.navigation.type === 2) {
                window.location.reload();
            }
        });
    </script>
</body>