{% extends 'ta_layout.html' %}
{% load static %}
{% block body %}
<head>
    <title>Update Package</title>
    <link rel="stylesheet" href="{% static 'assets/css/add_package.css' %}">
</head>
<section class="add-package">
    <div class="container">
        <h3>Update Package</h3>
        {% if message %}
            <ul class="messages">
                {{ message }}
            </ul>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ package.title }}" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" rows="4" required>{{ package.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" class="form-control" value="{{ package.price }}" step="0.01" required>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="images" class="form-control" accept="image/*">
            </div>
            <div class="form-group">
                {% for image in package.package_images.all %}
                    <img src="{{ image.image.url }}" alt="{{ package.title }}" style="max-width: 200px; height: auto; margin-top: 10px; overflow: hidden; display:wrap;">
                    <label>
                        <input type="checkbox" name="delete_images" value="{{ image.id }}">
                        Remove
                    </label>
                {% empty %}
                    <p>No image available</p>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="origin">Origin</label>
                <input type="text" id="origin" name="origin" class="form-control" value="{{ package.origin }}" required>
            </div>

            <div class="form-group">
                <label for="destination">Destination</label>
                <input type="text" id="destination" name="destination" class="form-control" value="{{ package.destination }}" required>
            </div>

            <div class="form-group">
                <label for="number_of_days">Duration</label>
                <input type="text" id="duration" name="duration" class="form-control" value="{{ package.duration }}" required>
            </div>

            <div class="form-group">
                <label for="departure_day">Discount Percentage (If Any)</label>
                <input type="number" id="discount_percentage" name="discount_percentage" class="form-control" value="{{ package.discount_percentage }}">
            </div>

            <div class="form-group">
                <label for="cancellation">Cancellation:</label>
                <select id="cancellation" name="cancellation" class="form-control" required>
                    <option value="True" {% if package.cancellation %}selected{% endif %}>Yes</option>
                    <option value="False" {% if not package.cancellation %}selected{% endif %}>No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="itinerary">Itinerary (Enter details for each day separated by commas or line breaks)</label>
                <textarea id="itinerary" name="itinerary" class="form-control" rows="6" required> {{ package.itinerary }} </textarea>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Update Package</button>
                <a href="{% url 'tahome' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
